.signIn .formulario {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    background: rgb(194 182 253 / 33%);
    backdrop-filter: blur(7px);
    padding: 65px;
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 10px;
}

.signIn .btn-entrar {
    display: block;
    margin: 10px auto 0; 
}

.signIn .formulario .btn-entrar {
    margin-top: 10px; /* 10px de espaço acima do botão */
}

@media (max-width: 600px) {
    .signIn .formulario {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 920px) {
    .signIn .formulario {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}